<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <title>
        {% block title %}
        <!--Titulo que viene de los templates-->
        {% endblock %}
        | Mini Carrito
    </title>
</head>

<body>

    <!-- Cabecera de la pagina -->
    <header>
        <div id="logotipo">
            <img src="{% static 'images/carrocompras.png' %}" />
            <h1>MINI CARRITO</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            </li>
            {% if user.username %}
                <li>
                    <a href="{% url 'todosLosProductos' %}">Productos</a>
                </li>
                <li>
                    <a href="{% url 'todosproductosalcarro' user.id %}">Carrito de Compra</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Cerrar sesion</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'registro' %}">Registro</a>
                </li>
                <li>
                    <a href="{% url 'logueo' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>


    <div id="content">
        <div class="box">
            {% block content %}
            <!--codigo que viene de los templates-->
            {% endblock %}
        </div>
    </div>

    <footer>
        Aplicacion Mini Carrito &copy; Mini Carrito - {% now "d/m/Y h:m:s" %}
    </footer>

</body>

</html>