{% extends 'layouts/layout.html' %}

{% block title %} {{tituloLogin}} {% endblock  %}

{% block content %}
    <h1>{{tituloLogin}}</h1>

    {% if messages %}
        {% for m in messages %}
            <div class="alert alert-warning">
                {{m}}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" action="">
        
        {% csrf_token %}

        <label for="username">Ingrese nombre usuario:</label>
        <input type="text" name="username" />

        <label for="password">Ingrese contraseña:</label>
        <input type="password" name="password" />

        <input type="submit" value="Login" />
    </form>
{% endblock %}