{% extends 'layouts/layout.html' %}

{% block title %} {{titulo}} {% endblock  %}

{% block content %}
    <h1>{{titulo}}</h1>
    <hr/>

    {% if messages %}
       
        {% for mensajes in messages %}
            <div class="alert alert-success">
                {{mensajes}}
            </div>
        {% endfor %}
    {% endif %}

    {% if user.username %}
        <h2>Bienvenido, {{request.user.first_name}} {{user.last_name}}</h2>
    {% else %}
        <h2>Identificate para ver mas cosas</h2>
    {% endif %}
{% endblock %}
