{% extends 'layouts/layout.html' %}

{% comment 'pagina carro de compras' %}
    pagina que itera por todo lo que llegue al carro de compras de acuerdo a lo que usuario decida anadir
{% endcomment %}

{% block title %} Carro Compras {% endblock  %}

{% block content %}
    <h1 class="title">{{titulo}}</h1>

    <h2> {{sumaTotalCarroCompras__sum}} </h2>
    <h2> {{cantidadProductos__sum}} </h2>

    {% if messages %}
        
        {% for mensajes in messages %}
            <div class="alert alert-success">
                {{mensajes}}
            </div>
        {% endfor %}

    {% endif %}

    {% for carrodecompras in listaCarroCompras %}
        <article class="sold-item">

            {% if carrodecompras.fk_producto.imagen != 'null' and carrodecompras.fk_producto.imagen.url|length >= 1 %}
                            
                <div class="image">
                    <img src="{{carrodecompras.fk_producto.imagen.url}}" />
                </div>

            {% endif %}
            
            <div class="data">
                
                <h2>
                {{carrodecompras.fk_producto.nombre_producto}} 
                </h2>

                <span class="date">
                    Precio Producto:{{carrodecompras.fk_producto.precio_unico}}
                    |
                    Cantidad Agregada:{{carrodecompras.cantidad_agrega}}
                    |
                    Precio Total:{{carrodecompras.precio_total_agrega}}
                </span>

                <p>
                    <a href="{% url 'validacompraproductoencarro' carrodecompras.id_agregar_carrito %}" class="btn btn-warning">Comprar</a>
                    <a href="{% url 'eliminarproducto' carrodecompras.id_agregar_carrito %}" class="btn">Quitar/Eliminar</a>
                </p>

            </div>
            
            <div class="clearfix"></div>
                    
        </article>
    {% endfor %}

{% endblock %}