{% extends 'layouts/layout.html' %}

{% comment 'pagina formularios' %}
    esta pagina es dinamica, por ende se encuentra con distintos formularios que validan diferentes acciones ya sea para compra o añadir al carrito
{% endcomment %}

{% block title%} 
    Agregar Producto al Carro
{% endblock %}

{% block content %}
    
   {% if messages %}
       
        {% for mensajes in messages %}
            <div class="alert alert-success">
                {{mensajes}}
            </div>
        {% endfor %}

    {% endif %}

        {% if idProducto %}
            <h1>Agregar Producto al Carrito de Compra</h1>
        {% elif idProductoCompra %}
            <h1>Compra de Producto</h1>
        {% elif idProductoEnCarrito %}
            <h1>Compra de Producto Estando en Carrito de Compra</h1>
        {% endif %}
        
        {% if idProducto %}
            <form action="{% url 'agregaralcarro' %}" method="POST">

                {% csrf_token %}
                
                
                <label for="codigo">Codigo Usuario - {{user.username}}</label>
                <input type="number" name="codusuario" value="{{user.id}}" />

                <label for="codigo">Codigo Producto - {{idProducto.nombre_producto}}</label>
                <input type="number" name="codigoProducto" value="{{idProducto.id_producto}}" />

                <label for="codigo">Precio</label>
                <input type="number" name="precioProducto" value="{{idProducto.precio_unico}}" />

                <label for="codigo">Cantidad</label>
                <input type="number" name="cantidad"/>
    
                <input type="submit" value="Agregar al Carrito" />
                
            </form>
        {% elif idProductoCompra %}
            <form action="{% url 'compraproducto' %}" method="POST">

                {% csrf_token %}
                
                
                <label for="codigo">Codigo Usuario - {{user.username}}</label>
                <input type="number" name="codusuario" value="{{user.id}}" />

                <label for="codigo">Codigo Producto - {{idProductoCompra.nombre_producto}}</label>
                <input type="number" name="codigoProducto" value="{{idProductoCompra.id_producto}}" />

                <label for="codigo">Precio</label>
                <input type="number" name="precioProducto" value="{{idProductoCompra.precio_unico}}" />

                <label for="codigo">Cantidad</label>
                <input type="number" name="cantidad"/>
    
                <input type="submit" value="Comprar" />
                
            </form>
        {% elif idProductoEnCarrito %}
            <form action="{% url 'compraproductoencarro' %}" method="POST">

                {% csrf_token %}
                
                
                <label for="codigo">Codigo Usuario - {{user.username}}</label>
                <input type="number" name="codusuario" value="{{idProductoEnCarrito.fk_user.id}}" />

                <label for="codigo">Codigo Producto - {{idProductoEnCarrito.fk_producto.nombre_producto}}</label>
                <input type="number" name="codigoProducto" value="{{idProductoEnCarrito.fk_producto.id_producto}}" />

                <label for="codigo">Cantidad</label>
                <input type="number" name="cantidad" value="{{idProductoEnCarrito.cantidad_agrega}}" />

                <label for="codigo">Precio Total</label>
                <input type="number" name="totalCompraProducto" value="{{idProductoEnCarrito.precio_total_agrega}}" />
    
                <input type="submit" value="Comprar" />
                
            </form>
        {% endif  %}
{% endblock %}