{% comment 'pagina listado de productos' %}
    pagina que itera todos los productos existentes y esta es una pagina donde va heredar la pagina productos de esta
{% endcomment %}

{% if messages %}
       
    {% for mensajes in messages %}
        <div class="alert alert-success">
            {{mensajes}}
        </div>
    {% endfor %}

{% endif %}

{% for productos in listaProductos %}
    <article class="sold-item">

        {% if productos.imagen != 'null' and productos.imagen.url|length >= 1 %}
                        
            <div class="image">
                <img src="{{productos.imagen.url}}" />
            </div>

        {% endif %}
        
        <div class="data">
            
            <h2>
            {{productos.nombre_producto}} 
            </h2>

            <span class="date">
                Precio:{{productos.precio_unico}}
            </span>

            <p>
                <a href="{% url 'validaagregaralcarro' productos.id_producto %}" class="btn btn-warning">Agregar al Carrito</a>
                <a href="{% url 'validacompraproducto' productos.id_producto %}" class="btn">Comprar</a>
            </p>

        </div>
        
        <div class="clearfix"></div>
                
    </article>
{% endfor %}
   
