{% comment 'pagina paginacion' %}
    pagina de lista de productos paginados, donde luego sera heredada por la pagina productos
{% endcomment %}

<div class="pagination">
    
    {% if listaProductos.has_previous %}
        <a href="?page=1">&laquo; Primero</a>
        <a href="?page={{ listaProductos.previous_page_number }}">
            Anterior
        </a>
    {% endif %}

    
    <span class="actual">
        Pagina {{listaProductos.number}} de {{listaProductos.paginator.num_pages}}
    <span>


    {% if listaProductos.has_next %}
        <a href="?page={{ listaProductos.next_page_number }}">
            Siguiente
        </a>
        <a href="?page={{ listaProductos.paginator.num_pages }}">Ultima &raquo;</a>
    {% endif %}
</div>